body {
    background-color: black;
}

#container-1 {
    width: 1300px;
    height: 650px;
    background-image: url("images/bg-1.jpg");
    margin: 25px auto;
    object-fit: fill;
    background-size: cover;
    border: black solid;
    border-radius: 10px;
}

.clock {
    background-color: #80d4ea;
    border-radius: 20px;
    opacity: 0.9;
    position: fixed;
}
.clock_title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    font-size: 25px;
}

#watch{
    width: 50%;
    height: 200px;
    top: 100px;
    right: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#watch_date, #watch_time{
    font-size: 40px;
    color: white;
}


#stopwatch {
    width: 400px;
    height: 200px;
    bottom: 120px;
    right: 250px;
}

#timer {
    width: 400px;
    height: 200px;
    bottom: 120px;
    left: 250px;
}
